*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Inter;
    background-color: rgb(73,23,68);
}
nav{
    background: #000;
    height: 80px;
    width:100%;
}
label.logo{
    color:white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
}
nav ul{
    float: right;
    margin-right: 20px
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: rgb(60, 15, 59);
    transition: .5s;
}
.txtl{
    color: white;
    position: relative;
    top: 50px;
    left: 50px;
}
.j{
    color: white;
    font-size: 100px;
    right: 50px;
}
.artist{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-40%, -50%);

}
.time{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-40%, -50%);
    
}
.pic1{
   /*position: relative;
    top: 90px;
    right: -700px;*/
    margin-left: 650px;
    margin-top: 10px;
    
}
.pic2{
    margin-left:120px;
    margin-top: -150px;
}
.button{
    margin-left: 800px;
    margin-top:-120px;
    position: absolute;
    height: 45px;
    width: 130px;
    font-size: larger;
}
.p{
    color: white;
    font-size: 200%;
    padding-left: 550px;
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
}

.p4{
    margin-top : -65%;
}
.p5{
    margin-top : -34%;
}
.folio{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}
.por{
    padding: 1.5rem;
}
footer{
    background-color: #000000;
    width: 100%;
    height: 45px;
   
}
.footer h1 {
    margin: 0; 
    color: white;
}
.footerc{
    color: white;
    width: 100%;
    padding: 10px 0px 20px;
    text-align: center;
    
    
}
footer li {
    display: inline;
    margin: 0px 15px;
    float: center;
}
